# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
    
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular IDEs for Data Science

## Author
Pedro Fernely Uch Puc

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
    
1. Numpy
2. Pandas
3. Scipy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Rstudio|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

$a + b$  
$a - b$  
$a \times b$  
$a ^ b$

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
horas=200/60

In [6]:
print(horas)

3.3333333333333335